<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
   Sprinkles ༉‧₊˚
  </title>
  <link href="https://files.catbox.moe/v04qj8.png" rel="shortcut icon">
  <link href="https://raw.githubusercontent.com/serafae/serafae.github.io/blob/main/lab/layouts/borrowed/sprinkles.css" media="all" rel="stylesheet" type="text/css">
  <script defer="true" src="https://raw.githubusercontent.com/serafae/serafae.github.io/blob/main/lab/layouts/borrowed/sprinkles.js">
  </script>
 </head>
 <body>
  <div id="pinkborder">
   <!-- HEADER -->
   <div id="headercontainer">
    <div class="header-text">
     <h1>
      SPRINKLES F2U TEMPLATE
     </h1>
     <p>
      info ♡ info
      <br>
      info ♡ info
     </p>
     <p>
      ✎ You can change the title, background, and header image here!
     </p>
    </div>
   </div>
   <!-- TOP MARQUEE SECTION -->
   <div class="topmarq">
    <div class="topmarq-inner">
     <div class="marquee-left">
      <!-- you can change the direction to left, right, or change the BEHAVIOR to alternate ! -->
      <marquee behavior="scroll" direction="left" scrollamount="6">
       ⋅˚₊‧ ୨Change this marquee to blinkes, stamps, text, whatever you'd like!୧ ‧₊˚ ⋅
      </marquee>
     </div>
     <div class="marquee-right">
      <div class="marquee-right-inner">
       <img src="https://files.catbox.moe/4b65jg.gif">
       <!-- marquee-right resizes with whatever you put in it! change to a clap button, view counter, music player? whatever! ^__^ -->
       <div class="clock" id="clock">
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- RAINBOW DIVIDER -->
   <div class="straightrainbowbar">
   </div>
   <!-- you can also have text in these straightrainbowbar's if you'd like! i just like the look of it plain as a divider for here!! -->
   <!-- NAVIGATION BAR -->
   <div class="navstrip">
    <a href="#">
     Neocities
    </a>
    <a href="#">
     About
    </a>
    <a href="#">
     Diary
    </a>
    <a href="#">
     Gallery
    </a>
    <a href="#">
     Links
    </a>
    <a href="#">
     Credits
    </a>
   </div>
   <!-- MAIN BOX SECTION -->
   <div id="box">
    <div class="box-sections">
     <!-- LEFT COLUMN -->
     <div class="left-col">
      <div class="inner-box left-top">
       Left Top
      </div>
      <div class="inner-box left-marquee">
       <marquee behavior="scroll" direction="up" scrollamount="6" style="text-align: center; height: 100%;">
        <img src="https://64.media.tumblr.com/837bfea6488442365b367b4a8a6affe8/a9f83b6af483b6c3-db/s100x200/f33fb547a3c4f8309c03a80e4e4d1c5c9759e48e.pnj">
        <img src="https://64.media.tumblr.com/b4522fb77878b1d98097b82e892e6808/7bc42926807a6a25-0d/s100x200/6c78048ae9d8da0a703919906beaa4e46dbebf1e.webp">
        <img src="https://64.media.tumblr.com/c4d0dce48864b3dd8d811c0770b416d1/dd851ed67dd48774-1c/s100x200/e8a6fdccb11d8719bd11e7f30bb7883309a61d5d.gifv">
        <img src="https://64.media.tumblr.com/19debbca26ba5cfc9a74b26c1969b8a4/a1e023b4064e88eb-fc/s100x200/68b48b2485dfdc6b025b3f60cbcc7decbb0376df.pnj">
        <img src="https://64.media.tumblr.com/d8b8a957f3618bdd98349b7450abb57b/a5c1d737efddd0ab-53/s100x200/527f80bbb06a99c8664ece5355779df43c59bb5c.gifv">
        <img src="https://64.media.tumblr.com/5c8a97c61135adfd6d337430ad57c651/aeaf1170854d27dc-33/s100x200/f2f69a2d20e03ae4977d2e9adaee58cc068689e1.gifv">
        <img src="https://64.media.tumblr.com/913391a3c762b94a2c8c275258ed47ad/1b655208f61940ad-d3/s100x200/e2de430f6e52912926f683d09ec78ab591bd89a3.pnj">
        <img src="https://64.media.tumblr.com/83f8b890b40699430854cf9377cf2eec/8bc2ea6d5dd00a56-29/s100x200/dd395288dd0f4f38be8c1b0956d78b4275ba400a.gifv">
       </marquee>
      </div>
     </div>
     <!-- MIDDLE COLUMN -->
     <div class="mid-col">
      <div class="inner-box middle-box">
       <div class="straightrainbowbar-header">
        Middle
       </div>
       <div class="inner-box-text">
        <span style="font-family: Garamond; color:red; text-transform: uppercase;">
         Disclaimer:
        </span>
        <br>
        <p>
         This is my FIRST EVER F2U INDEX LAYOUT!!! :DD I'm super excited—yaaay!~  
        Please keep in mind that I’m not a professional at all, and my code can be a little messy. I really tried to make this as beginner-friendly as possible. Hopefully, everything makes sense and is clearly explained!
        </p>
        <p>
         Some parts aren’t labeled because I think it's fun to explore and figure things out on your own. Trial and error is a HUGE part of coding!! without it, the indie web wouldn’t even exist!
        </p>
        <p>
         I made this on my Apple MacBook Air, so I’m not sure how it will look on Windows (especially with their default scrollbars). You might want to disable them or search for a cute F2U scrollbar code! just Google it, and you’ll find something :3
        </p>
        <center>
         <img class="middle-image" src="https://64.media.tumblr.com/700e39792f85b25d1f04abdab2a51b26/e87ce4147c394776-5f/s400x600/173b2d2b8ca34b1168b085e506106f58480c07b0.pnj">
        </center>
        <p>
         I’m so excited to see what people do with this template, and I can’t wait to make more cute themes! If you use this, please LMK, I’d love to see how you made it your own! :D  
        Feel free to change the colors, images, and overall aesthetic to whatever palette or vibe you’d like!
        </p>
        <p>
         BTW I don’t publicly share my email online, but you’re welcome to reach out to me through my
         <a href="https://musictelevision.neocities.org/">
          website
         </a>
         if you need help.  
        That said, please try Googling your question, asking a friend, or checking out a web dev forum or Discord server before contacting me, You might be bale to figure it out without anyones help! ^_^  I also don’t know how many people will be using this.. if anyone at all :,) lol. but TRUST ME I love to help!
        </p>
        <p>
         This template is just for fun and made to be edited however your heart desires!~  Happy Coding!!!
        </p>
        <center>
         <span style="font-family: Garamond; color:red; text-transform: uppercase;">
          !!!do not remove the credit!!!
         </span>
        </center>
       </div>
      </div>
     </div>
     <!-- RIGHT COLUMN -->
     <div class="right-col">
      <!-- you can change the height to whatever you want! just know that it will change the #box's overall height to make room for it! -->
      <div class="inner-box right-top">
       Right Top
      </div>
      <div class="inner-box right-bottom">
       Right Bottom
      </div>
     </div>
    </div>
   </div>
   <!-- FOOTER -->
   <div id="box-footer">
    Cute Lil
    <a href="#">
     Footer
    </a>
    For You!~
   </div>
  </div>
  <!-- !!!CREDITS. DO NOT REMOVE!!! -->
  <div class="credits">
   <mark>
    website design c.
    <a href="https://musictelevision.neocities.org">
     Lina
    </a>
   </mark>
  </div>
  <!-- OPTIONAL CORNER IMAGE -->
  <div class="corner-image">
   <img src="https://files.catbox.moe/vma6gi.gif">
   
  </div>
  <!-- 
if you want 2 boxes instead of 1 big box in the middle column, replace with this! I couldn't decide on what to give you so im adding both C: 
copy ALL of THIS and plug it into the <div class="mid-col"> </div> area! 

<div class="inner-box" style="max-height: 190px; height: 50%;"><div class="straightrainbowbar-header">Middle Top</div>
    <div class="inner-box-text" style="height: 113px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci erat, tristique sed risus eget, tincidunt vestibulum metus. Nullam tempor molestie commodo. Etiam consequat turpis tellus, non faucibus urna ultrices sed. Fusce tincidunt lorem tempor, laoreet risus et, sollicitudin tellus. Praesent eros dolor, rutrum interdum laoreet eget, aliquet luctus orci. Aenean vitae condimentum nisi. Maecenas sed eleifend ipsum, sit amet tincidunt libero. Aliquam odio lectus, suscipit vitae justo non, ultricies varius lectus. Suspendisse nec auctor nisi, condimentum malesuada urna. Nunc eu purus vel mi convallis maximus. Curabitur nec quam nec augue fringilla consectetur. Aenean porta enim non elit fringilla cursus. Sed non ultrices risus. Nullam vitae est quis nibh tincidunt placerat. Phasellus iaculis vitae sapien vitae rhoncus. In mattis in metus vel gravida.</p>
    <br>
    <p>ut aliquet magna. In scelerisque tincidunt suscipit. Cras tincidunt fermentum elit, quis egestas risus aliquet at. Suspendisse nec nulla sed purus lacinia sollicitudin vel sit amet dolor. Aliquam dictum arcu in dui bibendum accumsan. Ut vulputate pretium dolor at condimentum. Integer et blandit augue. Etiam ornare lacinia venenatis.</p>
      </div>
      </div>
<div class="inner-box" style="max-height: 190px; height: 50%;"><div class="straightrainbowbar-header">Middle Bottom</div>
    <div class="inner-box-text" style="height: 113px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci erat, tristique sed risus eget, tincidunt vestibulum metus. Nullam tempor molestie commodo. Etiam consequat turpis tellus, non faucibus urna ultrices sed. Fusce tincidunt lorem tempor, laoreet risus et, sollicitudin tellus. Praesent eros dolor, rutrum interdum laoreet eget, aliquet luctus orci. Aenean vitae condimentum nisi. Maecenas sed eleifend ipsum, sit amet tincidunt libero. Aliquam odio lectus, suscipit vitae justo non, ultricies varius lectus. Suspendisse nec auctor nisi, condimentum malesuada urna. Nunc eu purus vel mi convallis maximus. Curabitur nec quam nec augue fringilla consectetur. Aenean porta enim non elit fringilla cursus. Sed non ultrices risus. Nullam vitae est quis nibh tincidunt placerat. Phasellus iaculis vitae sapien vitae rhoncus. In mattis in metus vel gravida.</p>
    <br>
    <p>ut aliquet magna. In scelerisque tincidunt suscipit. Cras tincidunt fermentum elit, quis egestas risus aliquet at. Suspendisse nec nulla sed purus lacinia sollicitudin vel sit amet dolor. Aliquam dictum arcu in dui bibendum accumsan. Ut vulputate pretium dolor at condimentum. Integer et blandit augue. Etiam ornare lacinia venenatis.</p>
      </div>
      </div>
-->
  <!-- CURSOR IMAGE FOLLOW SCRIPT -->
  <div id="containerCursor">
   <img id="imagineCursor" src="https://files.catbox.moe/x262d7.gif">
   <!-- change src to any image you want! -->
  </div>
 

</body>
</html>
